[
  {
    "name": "Self test",
    "files": [
      "ais2dw12_STdC/example/ais2dw12_self_test.c",
      "ais2dw12_STdC/driver/ais2dw12_reg.c"
    ],
    "compilation_cmd": "-I ais2dw12_STdC/driver",
    "main": "ais2dw12_self_test",
    "slevel": 1000,
    "value-profile": "analyzer",
    "raw_options": {
      "-val-slevel-merge-after-loop": "-@all"
    }
  },
  {
    "name": "Activity x86-64",
    "files": [
      "ais2dw12_STdC/example/ais2dw12_activity.c",
      "ais2dw12_STdC/driver/ais2dw12_reg.c"
    ],
    "main": "ais2dw12_activity",
    "compilation_cmd": "-I ais2dw12_STdC/driver",
    "value-profile": "analyzer",
    "machdep": "gcc_x86_64",
    "raw_options": {
      "-val-slevel-merge-after-loop": "-@all"
    }
  },
  {
    "name": "Activity armeb-eabi",
    "files": [
      "ais2dw12_STdC/example/ais2dw12_activity.c",
      "ais2dw12_STdC/driver/ais2dw12_reg.c"
    ],
    "main": "ais2dw12_activity",
    "compilation_cmd": "-I ais2dw12_STdC/driver",
    "value-profile": "analyzer",
    "machdep": "gcc_armeb_eabi",
    "raw_options": {
      "-val-slevel-merge-after-loop": "-@all"
    }
  },
  {
    "name": "Free fall",
    "files": [
      "ais2dw12_STdC/example/ais2dw12_free_fall.c",
      "ais2dw12_STdC/driver/ais2dw12_reg.c"
    ],
    "compilation_cmd": "-I ais2dw12_STdC/driver",
    "slevel": 1000,
    "value-profile": "analyzer",
    "main": "ais2dw12_free_fall",
    "raw_options": {
      "-val-slevel-merge-after-loop": "-@all"
    }
  },
  {
    "name": "Orientation",
    "files": [
      "ais2dw12_STdC/example/ais2dw12_orientation.c",
      "ais2dw12_STdC/driver/ais2dw12_reg.c"
    ],
    "compilation_cmd": "-I ais2dw12_STdC/driver",
    "slevel": 1000,
    "value-profile": "analyzer",
    "main": "ais2dw12_orientation",
    "raw_options": {
      "-val-slevel-merge-after-loop": "-@all"
    }
  },
  {
    "name": "Wake up",
    "files": [
      "ais2dw12_STdC/example/ais2dw12_wake_up.c",
      "ais2dw12_STdC/driver/ais2dw12_reg.c"
    ],
    "compilation_cmd": "-I ais2dw12_STdC/driver",
    "slevel": 1000,
    "value-profile": "analyzer",
    "main": "ais2dw12_wake_up",
    "raw_options": {
      "-val-slevel-merge-after-loop": "-@all"
    }
  },
  {
    "name": "Read data polling",
    "files": [
      "ais2dw12_STdC/example/ais2dw12_read_data_polling.c",
      "ais2dw12_STdC/driver/ais2dw12_reg.c"
    ],
    "compilation_cmd": "-I ais2dw12_STdC/driver",
    "slevel": 1000,
    "value-profile": "analyzer",
    "main": "ais2dw12_read_data_polling",
    "raw_options": {
      "-val-slevel-merge-after-loop": "-@all"
    }
  }
]
